
/* Sidebar */
.sidebar {
    height: 100vh;
    background-color: #333;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
  }
  
  .sidebar a {
    color: white;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #4CAF50;
  }
  
  /* Navbar */
  .navbar {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  
  /* Main content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 70px;
  }
  
  .dashboard-title {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
